/*********** Fuentes **********/    
$primary-font: 'Poppins', sans-serif;
$secondary-font:'Open Sans', sans-serif;
/**************************************/


/*********** Variables BurgerQueen **********/
$color-bq1:#fffbf1;
$color-bq2:#000;;
$color-bq3:#ff9807;
$color-bq4:#ffec6b;
$color-error: #b61b1b;
$color-background: #b8b3b3
/**************************************/
